sfdx-source/nca-watrs/main/flows/NCA_Performance_Case_Counts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>casesNumbers</name>
        <label>casesNumbers</label>
        <locationX>320</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>loopPerformance.Markers_Ordered__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MarkersOrdered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopPerformance.Denied_Cases__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_CasesDenied</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopPerformance.Cases_Established__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_casesEstablished</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePerformance</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_CasesDenied</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter_CasesDenied</label>
        <locationX>584</locationX>
        <locationY>1020</locationY>
        <assignNextValueToReference>currentItem_filter_CasesDenied</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getNCAProduction_CasesEstablished</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_CasesDenied.Status_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>DC</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>casesNumbers</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_casesEstablished</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter_casesEstablished</label>
        <locationX>584</locationX>
        <locationY>900</locationY>
        <assignNextValueToReference>currentItem_filter_casesEstablished</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getNCAProduction_CasesEstablished</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_casesEstablished.Status_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CE</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>filter_CasesDenied</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>MarkersOrdered</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter_MarkersOrdered</label>
        <locationX>584</locationX>
        <locationY>780</locationY>
        <assignNextValueToReference>currentItem_MarkersOrdered</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getNCAProduction_CasesEstablished</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_MarkersOrdered.Status_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>IA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>filter_casesEstablished</targetReference>
        </connector>
    </collectionProcessors>
    <description>Flow tallies up cases for Monthly Performance assessments.</description>
    <formulas>
        <name>v_60_Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-60</expression>
    </formulas>
    <interviewLabel>NCA Performance: Case Counts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Performance: Case Counts</label>
    <loops>
        <name>loopPerformance</name>
        <label>loopPerformance</label>
        <locationX>584</locationX>
        <locationY>444</locationY>
        <collectionReference>getPerformanceRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getNCAProduction_CasesEstablished</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNCAProduction_CasesEstablished</name>
        <label>getNCAProduction_CasesEstablished</label>
        <locationX>584</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MarkersOrdered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopPerformance.Employee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCA_WATRS_Case_C_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>loopPerformance.Performance_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCA_WATRS_Case_C_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>loopPerformance.Performance_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_Production__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPerformanceRecords</name>
        <label>getPerformanceRecords</label>
        <locationX>584</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPerformance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Performance_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>v_60_Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_Performance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatePerformance</name>
        <label>updatePerformance</label>
        <locationX>296</locationX>
        <locationY>859</locationY>
        <connector>
            <targetReference>loopPerformance</targetReference>
        </connector>
        <inputReference>loopPerformance</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getPerformanceRecords</targetReference>
        </connector>
        <object>NCA_Performance__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-30</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filter_CasesDenied</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCA_Production__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_casesEstablished</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCA_Production__c</objectType>
    </variables>
    <variables>
        <name>currentItem_MarkersOrdered</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCA_Production__c</objectType>
    </variables>
    <variables>
        <name>totalCasesDenied</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalCasesEstablished</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalMarkersOrdered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
