sfdx-source/nca-watrs/main/flows/NCA_Update_Contacts_to_Active_Performance_Standard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignPerformanceStandard</name>
        <label>assignPerformanceStandard</label>
        <locationX>1171</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>loopContacts.NCA_WATRS_Performance_Standard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UpdatetoInactive</targetReference>
        </connector>
    </assignments>
    <description>When a new performance standard is activated, this flow searches all contacts and updates to the active performance standard.</description>
    <interviewLabel>NCA Update Contacts to Active Performance Standard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA Update Contacts to Active Performance Standard</label>
    <loops>
        <name>loopContacts</name>
        <label>loopContacts</label>
        <locationX>967</locationX>
        <locationY>739</locationY>
        <collectionReference>Get_MatchingContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPerformanceStandard</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MatchingContactRecords</name>
        <label>Get.MatchingContactRecords</label>
        <locationX>968</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NCA_WATRS_Employee_Grade_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Grade_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCA_WATRS_Employee_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_WATRS_Contact__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_UpdatetoInactive</name>
        <label>Update_UpdatetoInactive</label>
        <locationX>1145</locationX>
        <locationY>746</locationY>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <inputReference>loopContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>842</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_MatchingContactRecords</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>NCA_Performance_Standard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Set record grade level.</description>
        <name>vGradeLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Use to set grade type.</description>
        <name>vGradeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
