sfdx-source/nca-watrs/main/flows/NCA_WATRS_Create_Monthly_Performance_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignToInactive</name>
        <label>assignToInactive</label>
        <locationX>853</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>loopActivePerformances.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePerformances</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>vFirstDayofMonth</name>
        <dataType>Date</dataType>
        <expression>TODAY()-DAY(TODAY())+1</expression>
    </formulas>
    <formulas>
        <name>vLastdayofMonth</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12, 
DATE( YEAR( TODAY() ), 12, 31 ), 
DATE( YEAR( TODAY() ), MONTH( TODAY() ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>vName</name>
        <dataType>String</dataType>
        <expression>{!loopActivePerformances.Employee__r.Name}+ &quot; - &quot; + CASE(
MONTH(
TODAY()
),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;, 
4, &quot;April&quot;, 
5, &quot;May&quot;, 
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;None&quot;)
+&quot; &quot;+TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>NCA WATRS - Create Monthly Performance Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Performance: Create Monthly Performance Records</label>
    <loops>
        <name>loopActivePerformances</name>
        <label>loopActivePerformances</label>
        <locationX>388</locationX>
        <locationY>423</locationY>
        <collectionReference>getPerformanceRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createPerfornanceRecords</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>add name</description>
        <name>createPerfornanceRecords</name>
        <label>createPerfornanceRecords**</label>
        <locationX>592</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>assignToInactive</targetReference>
        </connector>
        <inputAssignments>
            <field>AMAS_ID__c</field>
            <value>
                <elementReference>loopActivePerformances.Employee__r.AMAS_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_User_Record__c</field>
            <value>
                <elementReference>loopActivePerformances.Employee__r.NCA_WATRS_Related_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>loopActivePerformances.Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_Performance_Standard__c</field>
            <value>
                <elementReference>loopActivePerformances.Employee__r.NCA_WATRS_Performance_Standard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>loopActivePerformances.Employee__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performance_End_Date__c</field>
            <value>
                <elementReference>vLastdayofMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performance_Start_Date__c</field>
            <value>
                <elementReference>vFirstDayofMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Location__c</field>
            <value>
                <elementReference>loopActivePerformances.Employee__r.NCA_Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Supervisor__c</field>
            <value>
                <elementReference>loopActivePerformances.Employee__r.NCA_WATRS_Site_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Leader__c</field>
            <value>
                <elementReference>loopActivePerformances.Employee__r.NCA_WATRS_Team_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <object>NCA_Performance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getPerformanceRecords</name>
        <label>getPerformanceRecords</label>
        <locationX>270</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopActivePerformances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_New_Performance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_Performance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatePerformances</name>
        <label>updatePerformances</label>
        <locationX>528</locationX>
        <locationY>662</locationY>
        <connector>
            <targetReference>loopActivePerformances</targetReference>
        </connector>
        <inputReference>loopActivePerformances</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getPerformanceRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_New_Performance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NCA_Performance__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-02-02</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
