sfdx-source/nca-watrs/main/flows/NCA_Time_Update_Hierarchy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>NCA Time: Update Hierarchy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Time: Update Hierarchy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find the NCA WATRS Contact</description>
        <name>getRelatedNCAWATRSContact</name>
        <label>getRelatedNCAWATRSContact</label>
        <locationX>446</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Time_Record_with_Hiearchy_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NCA_WATRS_Related_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NCA_WATRS_Contact__r.NCA_WATRS_Related_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCA_WATRS_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Time_Record_with_Hiearchy_0</name>
        <label>Update Time Record with Hiearchy</label>
        <locationX>484</locationX>
        <locationY>483</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.NCA_WATRS_Contact__r.NCA_WATRS_Related_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Location__c</field>
            <value>
                <elementReference>$Record.NCA_WATRS_Contact__r.NCA_Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Supervisor__c</field>
            <value>
                <elementReference>$Record.NCA_WATRS_Contact__r.NCA_WATRS_Site_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>$Record.NCA_WATRS_Contact__r.Related_Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Leader__c</field>
            <value>
                <elementReference>$Record.NCA_WATRS_Contact__r.NCA_WATRS_Team_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRelatedNCAWATRSContact</targetReference>
        </connector>
        <object>NCA_Time__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
