sfdx-source/nca-watrs/main/flows/NCA_Performance_Standard_Site_Supervisor_In_System_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Site_Supervisor</name>
        <label>Send Notification to Site Supervisor</label>
        <locationX>176</locationX>
        <locationY>1487</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>vNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>vNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignRecipientId</name>
        <label>assignRecipientId</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>vUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignUserId</name>
        <label>assignUserId</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>vUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopRecipientList.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRecipientList</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>vNotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Employee Type: &quot; +TEXT( {!$Record.Employee_Type__c})
&amp;
SUBSTITUTE ({!$Label.NewLine}, &quot;-&quot;,&quot;&quot;)
&amp;
&quot;Performance Standard Record: &quot; + {!$Record.Name}
&amp;
SUBSTITUTE ({!$Label.NewLine}, &quot;-&quot;,&quot; &quot;)
&amp;
&quot;Date: &quot; + TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>vNotificationTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Performance Standard &quot; + {!$Record.Name}  + &quot; has been updated on &quot; + TEXT(TODAY()) +&quot;.&quot;</expression>
    </formulas>
    <interviewLabel>NCA Performance Standard: Site Supervisor In-System Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Performance Standard: Site Supervisor In-System Notification</label>
    <loops>
        <name>loopRecipientList</name>
        <label>loopRecipientList</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <collectionReference>getGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignUserId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopUsers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopUsers</name>
        <label>loopUsers</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <collectionReference>vUserId</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignRecipientId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Notification_to_Site_Supervisor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getGroupId</name>
        <label>getGroupId</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGroupMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCA_All_Sites_Share_Read_Write</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGroupMembers</name>
        <label>getGroupMembers</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopRecipientList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getGroupId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotificationId</name>
        <label>getNotificationId</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Performance_Standard_Created_Updated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsers</name>
        <label>getUsers</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getGroupId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNotificationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>NCA_Performance_Standard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UserId_delete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
