sfdx-source/nca-watrs/main/flows/NCA_WATRS_Time_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>approvalRequestNotification</name>
        <label>approvalRequestNotification</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>alertBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>alertTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>vRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>When NCA time is created, submit for manager approval.</description>
        <name>Submit_Time_for_Approval</name>
        <label>Submit Time for Approval</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>assignRecipients</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>NCA_WATRS_Employee_CM_Time_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignRecipients</name>
        <label>assignRecipients</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>vRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Team_Leader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Site_Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getNotificationType</targetReference>
        </connector>
    </assignments>
    <description>Flow to trigger approval process for NCA Time records.</description>
    <formulas>
        <name>alertBody</name>
        <dataType>String</dataType>
        <expression>&quot;Status: Pending&quot; 
&amp;
SUBSTITUTE ({!$Label.NewLine}, &quot;-&quot;,&quot;&quot;)
&amp;
&quot;Employee Name: &quot; + {!$Record.Employee__r.FirstName} + &quot; &quot; + {!$Record.Employee__r.LastName}
&amp;
SUBSTITUTE ({!$Label.NewLine}, &quot;-&quot;,&quot;&quot;)
&amp;
&quot;Time Request: &quot; + {!$Record.Name}
&amp;
SUBSTITUTE ({!$Label.NewLine}, &quot;-&quot;,&quot;&quot;)
&amp;
&quot;Site Supervisor: &quot; + {!$Record.Site_Supervisor__r.FirstName} + &quot; &quot; + {!$Record.Site_Supervisor__r.LastName}
&amp;
SUBSTITUTE ({!$Label.NewLine}, &quot;-&quot;,&quot;&quot;)
&amp;
&quot;Date: &quot; + TEXT({!$Record.Submission_Date__c})</expression>
    </formulas>
    <formulas>
        <name>alertTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Time  request &quot; &amp; {!$Record.Name} &amp; &quot; has been submitted by &quot; &amp; {!$Record.Employee__r.FirstName} + &quot; &quot; + {!$Record.Employee__r.LastName} &amp; &quot; on &quot; &amp;TEXT({!$Record.Submission_Date__c}) &amp; &quot;.&quot;</expression>
    </formulas>
    <interviewLabel>NCA WATRS Time: Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Time: Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNotificationType</name>
        <label>getNotificationType</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>approvalRequestNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time_Request_Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submit_Time_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>NCA_Time__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
