sfdx-source/nca-watrs/main/flows/NCA_Production_Duplicate_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_NumberofProdRecords</name>
        <label>assign_NumberofProdRecords</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>v_NumberofProductionRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getMatchingProductionRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Record</name>
        <label>Existing Record?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_NumberofProductionRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDuplicateCheckbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>NCA Production: Duplicate Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Production: Duplicate Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMatchingProductionRecords</name>
        <label>getMatchingProductionRecords</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_NumberofProdRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MEL_Work_Completed_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MEL_Work_Completed_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCA_WATRS_Case_C_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NCA_WATRS_Case_C_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Veteran_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Veteran_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_Production__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateDuplicateCheckbox</name>
        <label>updateDuplicateCheckbox</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Duplicate_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMatchingProductionRecords</targetReference>
        </connector>
        <object>NCA_Production__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_NumberofProductionRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
