sfdx-source/nca-watrs/main/flows/NCA_Time_Calculate_Performance_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_meeting_times</name>
        <label>Add meeting times</label>
        <locationX>1056</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>MeetingTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_of_total_values.Total_Hours_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_of_total_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_non_Process_time</name>
        <label>Add non Process time</label>
        <locationX>1056</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>NonProcessingHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_of_total_values.Total_Hours_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_Processing_divide</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Other_hours</name>
        <label>Add Other hours</label>
        <locationX>1320</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>OtherTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_of_total_values.Total_Hours_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_of_total_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_leave_time</name>
        <label>Add to leave time</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Leavetime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_of_total_values.Total_Hours_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_of_total_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_premium_time</name>
        <label>add to premium time</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>PremiumtimeSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_of_total_values.Total_Hours_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_of_total_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Training_Hours</name>
        <label>Add Training Hours</label>
        <locationX>792</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>TrainingTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_of_total_values.Total_Hours_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_of_total_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Non_Processing_divide</name>
        <label>Non Processing divide</label>
        <locationX>1056</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Add_Other_hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Hours</defaultConnectorLabel>
        <rules>
            <name>Training_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sum_of_total_values.Non_Processing_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training (Ability to upload Training Certificate)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Training_Hours</targetReference>
            </connector>
            <label>Training hours</label>
        </rules>
        <rules>
            <name>Meeting_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sum_of_total_values.Non_Processing_Time__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_meeting_times</targetReference>
            </connector>
            <label>Meeting Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Premium_Check</name>
        <label>Premium Check</label>
        <locationX>924</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Sum_of_total_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sum_of_total_values.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium_Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_to_premium_time</targetReference>
            </connector>
            <label>Record Type Premium</label>
        </rules>
        <rules>
            <name>Record_Type_Leave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sum_of_total_values.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leave_Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_leave_time</targetReference>
            </connector>
            <label>Record Type Leave</label>
        </rules>
        <rules>
            <name>Record_Type_Non_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sum_of_total_values.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Processing_Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_non_Process_time</targetReference>
            </connector>
            <label>Record Type Non Processing</label>
        </rules>
    </decisions>
    <interviewLabel>NCA Time: Calculate Performance Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Time: Performance Calculation</label>
    <loops>
        <name>Sum_of_total_values</name>
        <label>Sum of total values</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Times_in_Perf_Range</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Premium_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Performance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Performance_in_Time_range</name>
        <label>Get Performance in Time range</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Times_in_Perf_Range</targetReference>
        </connector>
        <faultConnector>
            <targetReference>test</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 2)</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NCA_WATRS_Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCA_Performance__c</object>
        <sortField>Active__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Times_in_Perf_Range</name>
        <label>Get Times in Perf Range</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sum_of_total_values</targetReference>
        </connector>
        <filterLogic>((1 AND 2)OR (3 and 4)) AND 5 AND (6 OR 7)</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Performance_in_Time_range.Performance_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Performance_in_Time_range.Performance_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Performance_in_Time_range.Performance_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Performance_in_Time_range.Performance_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCA_WATRS_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Performance_in_Time_range.Employee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site Supervisor Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TL Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_Time__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>test</name>
        <label>test</label>
        <locationX>968</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Performance</name>
        <label>Update Performance</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Performance_in_Time_range.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Non_Production_Time__c</field>
            <value>
                <elementReference>NonProcessingHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Hours__c</field>
            <value>
                <elementReference>OtherTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium_Time__c</field>
            <value>
                <elementReference>PremiumtimeSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Leave_Hours__c</field>
            <value>
                <elementReference>Leavetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Meeting_Hours__c</field>
            <value>
                <elementReference>MeetingTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Training_Hours__c</field>
            <value>
                <elementReference>TrainingTime</elementReference>
            </value>
        </inputAssignments>
        <object>NCA_Performance__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Performance_in_Time_range</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site Supervisor Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TL Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>NCA_Time__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Leavetime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MeetingTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NonProcessingHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OtherTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PremiumtimeSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TrainingTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
