sfdx-source/nca-watrs/main/flows/NCA_WATRS_VATAS_Create_Production_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Duplicate</name>
        <label>Is Duplicate?</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Time_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTimeRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDuplicateRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Record_Type</name>
        <label>Time Record Type</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Leave_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leave_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLeaveTimeRT</targetReference>
            </connector>
            <label>Leave Time</label>
        </rules>
        <rules>
            <name>Premium_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPremiumTimeRT</targetReference>
            </connector>
            <label>Premium Time</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseDaysDifference</name>
        <dataType>Number</dataType>
        <expression>{!$Record.End_Date__c} - {!$Record.Start_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fNewTimeRecord</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!createLeaveTimeRecord}),{!createPremiumTimeRecord},{!createLeaveTimeRecord})</expression>
    </formulas>
    <formulas>
        <name>newTimeRecordId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!createLeaveTimeRecord}),{!createPremiumTimeRecord},{!createLeaveTimeRecord})</expression>
    </formulas>
    <interviewLabel>NCA WATRS VATAS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS VATAS: Create Time Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createLeaveTimeRecord</name>
        <label>createLeaveTimeRecord</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>updateVATASRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Bypass_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leave_Type__c</field>
            <value>
                <elementReference>$Record.Leave_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Contact__c</field>
            <value>
                <elementReference>getContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium_Pay_Status__c</field>
            <value>
                <stringValue>Site Supervisor Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getLeaveTimeRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Location__c</field>
            <value>
                <elementReference>getContactRecord.NCA_Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Supervisor__c</field>
            <value>
                <elementReference>getContactRecord.NCA_WATRS_Site_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>$Record.Submission_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Leader__c</field>
            <value>
                <elementReference>getContactRecord.NCA_WATRS_Team_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timekeeper__c</field>
            <value>
                <elementReference>$Record.Timekeeper__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hours_Taken__c</field>
            <value>
                <elementReference>$Record.Hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>NCA_Time__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createPremiumTimeRecord</name>
        <label>createPremiumTimeRecord</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>updateVATASRecord_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Bypass_Automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leave_Type__c</field>
            <value>
                <elementReference>$Record.Leave_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Contact__c</field>
            <value>
                <elementReference>getContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium_Pay_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getPremiumTimeRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Location__c</field>
            <value>
                <elementReference>getContactRecord.NCA_Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Supervisor__c</field>
            <value>
                <elementReference>getContactRecord.NCA_WATRS_Site_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>$Record.Submit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Leader__c</field>
            <value>
                <elementReference>getContactRecord.NCA_WATRS_Team_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timekeeper__c</field>
            <value>
                <elementReference>$Record.TL_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hours_Taken__c</field>
            <value>
                <elementReference>$Record.Total_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>$Record.Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <object>NCA_Time__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContactRecord</name>
        <label>getContactRecord</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTimeRecords</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCA_WATRS_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLeaveTimeRT</name>
        <label>getLeaveTimeRT</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createLeaveTimeRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leave Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPremiumTimeRT</name>
        <label>getPremiumTimeRT</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createPremiumTimeRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premium Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTimeRecords</name>
        <label>getTimeRecords</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Duplicate</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>NCA_WATRS_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Hours_Taken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Hours__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Hours_Taken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Total_Hours__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCA_Time__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateDuplicateRecord</name>
        <label>updateDuplicateRecord</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Duplicate_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_Time_Record__c</field>
            <value>
                <elementReference>getTimeRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_NCA_Contact__c</field>
            <value>
                <elementReference>getContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateVATASRecord</name>
        <label>updateVATASRecord</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>NCA_Time_Record__c</field>
            <value>
                <elementReference>createLeaveTimeRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_NCA_Contact__c</field>
            <value>
                <elementReference>getContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateVATASRecord_0</name>
        <label>updateVATASRecord</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>NCA_Time_Record__c</field>
            <value>
                <elementReference>createPremiumTimeRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_NCA_Contact__c</field>
            <value>
                <elementReference>getContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContactRecord</targetReference>
        </connector>
        <object>NCA_VATA_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Contacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContactMatch</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCreatedRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
