sfdx-source/nca-watrs/main/flows/NCA_Performance_Standard_Deactivate_Previous_Standard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignStatusInactive</name>
        <label>assignStatusInactive</label>
        <locationX>452</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>getPerformanceStandards.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePerformanceStandard</targetReference>
        </connector>
    </assignments>
    <interviewLabel>NCA Performance Standard: Deactivate Previous Standard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA Performance Standard: Deactivate Previous Standard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPerformanceStandards</name>
        <label>getPerformanceStandards</label>
        <locationX>452</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignStatusInactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employee_Grade_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Grade_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCA_Performance_Standard__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatePerformanceStandard</name>
        <label>updatePerformanceStandard</label>
        <locationX>452</locationX>
        <locationY>576</locationY>
        <inputReference>getPerformanceStandards</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getPerformanceStandards</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>NCA_Performance_Standard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_minute_trigger</name>
            <label>1-minute trigger</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
