sfdx-source/nca-watrs/main/flows/NCA_Performance_Return_Letter_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignLetterNumbers</name>
        <label>assignLetterNumbers</label>
        <locationX>665</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>loopPerformanes.Total_MEL_Letters__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getMELRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopPerformanes.Returned_Letters__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>returnLetter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopPerformanes.Return_Letter_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnLetterRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePerformance</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>returnLetter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>returnLetter</label>
        <locationX>672</locationX>
        <locationY>804</locationY>
        <assignNextValueToReference>currentItem_returnLetter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getMELRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_returnLetter.Return_Reason__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assignLetterNumbers</targetReference>
        </connector>
    </collectionProcessors>
    <formulas>
        <name>returnLetterRate</name>
        <dataType>Number</dataType>
        <expression>(1-{!loopPerformanes.Returned_Letters__c}/{!loopPerformanes.Total_MEL_Letters__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>v60days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-60</expression>
    </formulas>
    <interviewLabel>NCA Performance: Return Letter Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Performance: Return Letter Calculation</label>
    <loops>
        <name>loopPerformanes</name>
        <label>loopPerformanes</label>
        <locationX>584</locationX>
        <locationY>564</locationY>
        <collectionReference>getPerformances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getMELRecords</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMELRecords</name>
        <label>getMELRecords</label>
        <locationX>672</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>returnLetter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMELRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MEL_Work_Completed_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>loopPerformanes.Performance_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MEL_Work_Completed_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>loopPerformanes.Performance_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopPerformanes.Employee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_Production__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMELRecordType</name>
        <label>getMELRecordType</label>
        <locationX>584</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPerformanes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Memorial_Enterprise_Letter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPerformances</name>
        <label>getPerformances</label>
        <locationX>584</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMELRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Performance_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>v60days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_Performance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatePerformance</name>
        <label>updatePerformance</label>
        <locationX>584</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>loopPerformanes</targetReference>
        </connector>
        <inputReference>loopPerformanes</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getPerformances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NCA_Performance__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-09</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_returnLetter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCA_Production__c</objectType>
    </variables>
    <variables>
        <name>TotalLetters</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalReturnLetters</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
