sfdx-source/nca-watrs/main/flows/NCA_Time_Approval_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Time_Approved_Notification</name>
        <label>Time Approved Notification</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>vTimeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>vTimeApprovalTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>vRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Time_Rejected_Notification</name>
        <label>Time Rejected Notification</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>vTimeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>vTimeRejectedTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>vRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignEmployee</name>
        <label>assignEmployee</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>vRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.NCA_WATRS_Contact__r.NCA_WATRS_Related_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NCA_Time_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NCA_Time_Status</name>
        <label>NCA Time Status</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Premium_Pay_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Supervisor Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Premium_Pay_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TL Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_Approved_Notification</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Premium_Pay_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_Rejected_Notification</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
    </decisions>
    <formulas>
        <name>vTimeApprovalTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Time request &quot; + {!$Record.Name} + &quot;has been approved.&quot;</expression>
    </formulas>
    <formulas>
        <name>vTimeBody</name>
        <dataType>String</dataType>
        <expression>&quot;Time ID: &quot; + {!$Record.Name}
&amp;
SUBSTITUTE ({!$Label.NewLine}, &quot;-&quot;,&quot;&quot;)
&amp;
&quot;Status: &quot; + TEXT({!$Record.Premium_Pay_Status__c})</expression>
    </formulas>
    <formulas>
        <name>vTimeRejectedTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Time request &quot; + {!$Record.Name} + &quot;has been rejected.&quot;</expression>
    </formulas>
    <interviewLabel>NCA Time - Approval Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Time - Approval Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNotificationType</name>
        <label>getNotificationType</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignEmployee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NCA_Production_Approval_Status</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNotificationType</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site Supervisor Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TL Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Premium_Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <object>NCA_Time__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
