sfdx-source/nca-watrs/main/flows/NCA_OverlapPerformance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Count_Records</name>
        <label>Count Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vCountPerformanceRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getMatcingRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matching_Record_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Matching_Record_Found</name>
        <label>Matching Record Found</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Dupe_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Matching Record</defaultConnectorLabel>
        <rules>
            <name>No_Matching_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountPerformanceRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Dupe</targetReference>
            </connector>
            <label>No Matching record</label>
        </rules>
    </decisions>
    <interviewLabel>NCA_OverlapPerformance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS Performance: Overlap Performance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMatcingRecords</name>
        <label>getMatcingRecords</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Records</targetReference>
        </connector>
        <filterLogic>1 AND 8 AND ( (2 AND 3) OR (4 AND 5) OR (6 AND 7))</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Performance_End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Performance_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Performance_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Performance_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Performance_End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Performance_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Performance_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Performance_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Performance_Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Performance_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Performance_End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Performance_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCA_Performance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Dupe_Found</name>
        <label>Dupe Found</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>DupeEnrty__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>No_Dupe</name>
        <label>No Dupe</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>DupeEnrty__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMatcingRecords</targetReference>
        </connector>
        <object>NCA_Performance__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vCountPerformanceRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
