sfdx-source/nca-watrs/main/flows/NCA_AMAS_Entry_Create_production_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignReturnReason</name>
        <label>assignReturnReason</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>getProductionRecords.Return_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Return_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateProductionReturnLetters</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Duplicate</name>
        <label>Is Duplicate?</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Production_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProductionRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignReturnReason</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Production_Record_Type</name>
        <label>Production Record Type</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Letter_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMELRecordType</targetReference>
            </connector>
            <label>MEL</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCaseCompletedRecordType</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseDaysDifference</name>
        <dataType>Number</dataType>
        <expression>{!$Record.End_Date__c} - {!$Record.Start_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>NCA AMAS Entry: Create production record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NCA WATRS AMAS Reports: Create Production Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createProductionCaseCompleted</name>
        <label>createProductionCaseCompleted</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>updateAMASrecord_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AMAS_ID__c</field>
            <value>
                <elementReference>getContact_AMASID_match.AMAS_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>getContact_AMASID_match.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Entry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Case_AMAS_ID__c</field>
            <value>
                <elementReference>getContact_AMASID_match.AMAS_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Case_C_Date__c</field>
            <value>
                <elementReference>$Record.Today__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Case_Insert_User_ID__c</field>
            <value>
                <elementReference>$Record.Insert_User_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getCaseCompletedRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Location__c</field>
            <value>
                <elementReference>getContact_AMASID_match.NCA_Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Supervisor_User__c</field>
            <value>
                <elementReference>getContact_AMASID_match.NCA_WATRS_Site_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Code__c</field>
            <value>
                <elementReference>$Record.Status_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Lead_User__c</field>
            <value>
                <elementReference>getContact_AMASID_match.NCA_WATRS_Team_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran_ID__c</field>
            <value>
                <elementReference>$Record.Veteran_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>NCA_Production__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createProductionMEL</name>
        <label>createProductionMEL</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>updateAMASrecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>getContact_Author_match.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEL_Completed_Letters_Created_Date__c</field>
            <value>
                <elementReference>$Record.Created_Date_and_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEL_Completed_Letters_Letter_Code__c</field>
            <value>
                <elementReference>$Record.Letter_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEL_Work_Completed_Date__c</field>
            <value>
                <elementReference>$Record.Created_Date_and_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Entry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Case_AMAS_ID__c</field>
            <value>
                <elementReference>$Record.AMAS_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Case_Assembly_Date__c</field>
            <value>
                <elementReference>$Record.Assembly_Dt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Case_C_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_WATRS_Case_Veteran_ID__c</field>
            <value>
                <elementReference>$Record.Veteran_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getMELRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Reason__c</field>
            <value>
                <elementReference>$Record.Return_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Supervisor_User__c</field>
            <value>
                <elementReference>getContact_Author_match.NCA_WATRS_Site_Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Lead_User__c</field>
            <value>
                <elementReference>getContact_Author_match.NCA_WATRS_Team_Leader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran_ID__c</field>
            <value>
                <elementReference>$Record.Veteran_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>NCA_Production__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCaseCompletedRecordType</name>
        <label>getCaseCompletedRecordType</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact_AMASID_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact_AMASID_match</name>
        <label>getContact_AMASID_match</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createProductionCaseCompleted</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AMAS_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Insert_User_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCA_WATRS_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact_Author_match</name>
        <label>getContact_Author_match</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createProductionMEL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Author__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCA_WATRS_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMELRecordType</name>
        <label>getMELRecordType</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact_Author_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Memorial Enterprise Letter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProductionRecords</name>
        <label>getProductionRecords</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Duplicate</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Veteran_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Veteran_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MEL_Work_Completed_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_Date_and_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NCA_WATRS_Case_C_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Today__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCA_Production__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAMASrecord</name>
        <label>updateAMASrecord</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NCA_Contact__c</field>
            <value>
                <elementReference>getContact_Author_match.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_Production__c</field>
            <value>
                <elementReference>createProductionMEL</elementReference>
            </value>
        </inputAssignments>
        <object>NCA_AMAS_Report_Entry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAMASrecord_0</name>
        <label>updateAMASrecord</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>NCA_Contact__c</field>
            <value>
                <elementReference>getContact_AMASID_match.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_Production__c</field>
            <value>
                <elementReference>createProductionCaseCompleted</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateDuplicateRecord</name>
        <label>updateDuplicateRecord</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Duplicate_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_Contact__c</field>
            <value>
                <elementReference>getProductionRecords.Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NCA_Production__c</field>
            <value>
                <elementReference>getProductionRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateProductionReturnLetters</name>
        <label>updateProductionReturnLetters</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>updateDuplicateRecord</targetReference>
        </connector>
        <inputReference>getProductionRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProductionRecords</targetReference>
        </connector>
        <object>NCA_AMAS_Report_Entry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
